

    .swiper {
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
    .swiper {
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
        height: 70vh;
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 80%;
      width: 100%;
    }
    .mySwiper2 .swiper-slide{
        background-color: grey;
      }

    .mySwiper2 .swiper-slide img {
        width: auto;
        height: 100%;
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    
  .custom-carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Đảm bảo nút hiển thị trên ảnh */
    background-color: #FFFFFF !important; /* Màu nền mờ cho nút */
    border-radius: 30%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .carousel-control-prev {
    left: 15px; /* Căn lề trái */
  }
  
  .carousel-control-next {
    right: 15px; /* Căn lề phải */
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
  

    .bi-arrow-left,
    .bi-arrow-right {
      color: #FFA21A;
    }

    .selected {
        border: 2px solid gold; /* Viền vàng */
        box-shadow: 0 0 5px rgba(255, 215, 0, 0.5); /* Hiệu ứng bóng nếu cần */
      }