<header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light mt-4">
      <div class="container-fluid d-flex align-items-center mx-2 mx-md-5">
        <a class="navbar-brand" href="#">
          <img src="assets/image/Logo.svg" alt="Logo" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto flex-wrap my-4 my-lg-0">
            <li class="nav-item">
              <a
                class="nav-link fw-bold px-4 active"
                aria-current="page"
                href="#"
                >Bán</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold px-4" href="#">Cho thuê</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold px-4" href="#">Danh mục</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold px-4" href="#">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold px-4" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold px-4" href="#">Về chúng tôi</a>
            </li>
          </ul>

          <div class="ms-auto d-flex align-items-center">
            <button class="btn me-4 py-2 px-3">
              <img src="assets/image/note-add.png" alt="" /> Đăng sản phẩm
            </button>
            <button class="btn py-2">
              <img
                src="assets/image/user-octagon.png"
                alt="User Logo"
                class="rounded-circle"
                width="20"
                height="20"
              />
            </button>
          </div>
        </div>
      </div>
    </nav>
  </header>