:host {
    display: block;
    height: 100vh;
    background-image: url('/assets/image/back-ground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .container {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền trong suốt để dễ đọc chữ */
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 5rem;
    margin: 0;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #0056b3;
  }
  